@CHARSET "UTF-8";

html {
    height: 100%;
}

body {
    font-size: 16px;
    height: 100%;
}

div.container-fluid {
    padding-left: 0;
    padding-right: 0;
    height: 100%;
}

div.table-responsive {
    height: 100%;
}

form.dropdown-menu {
    padding-left: 20px;
    padding-bottom: 15px;
}

.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
    padding: 2px;
    text-align: center;
}

.table th.cluster {
    width: 20pt;
    text-align: left;
}

.table th.app {
    width: 20pt;
    text-align: right;
    white-space: nowrap;
}

.table th.stage {
    font-weight: bold;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
}
