@CHARSET "UTF-8";

html {
    height: 100%;
}

body {
    font-size: 16px;
    height: 100%;
}

div.container-fluid {
    padding-left: 0;
    padding-right: 0;
    height: 100%;
}

div.table-responsive {
    height: 100%;
}

.versions-menu ul {
    padding-top: 10px;
    padding-left: 15px;
    padding-right: 15px;
}

.version-icon {
    padding-right: 5px;
}

.version-icon-deploying, .version-icon-undeploying, .version-icon-undeployee {
    display: inline-block;
}

.version-icon-deploying, .version-icon-undeploying {
    transform-origin: 7px center;
}

/* the transform of ...-deploying is set in the animation code */
.version-icon-undeployee {
    transform: scale(-1, 1) translatex(calc(100% - 14px));
}

.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
    padding: 2px;
    text-align: center;
}

.table th.cluster {
    width: 20pt;
    text-align: left;
}

.table th.app {
    width: 20pt;
    text-align: right;
    white-space: nowrap;
}

.table th.stage {
    font-weight: bold;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
}
